@font-face {
  font-family: 'unmasked';
  src: url('../fonts/unmaskedbb_ot/UnmaskedBB.otf');
}

@font-face {
  font-family: 'unmasked-bold';
  src: url('../fonts/unmaskedbb_ot/UnmaskedBB_bold.otf');
}

@font-face {
  font-family: 'unmasked-ital';
  src: url('../fonts/unmaskedbb_ot/UnmaskedBB_ital.otf');
}

.batslap {
  width: 600px;
  height: 580px;
  position: relative;
  background: url('../imgs/batslap.jpg') center center no-repeat;

  span.wordballoon {
    top: 0;
    position: absolute;

    &.wordballoon-rbn {
      left: 4px;
      width: 316px;
      height: 236px;
      background: url('../imgs/rbn.jpg') left top no-repeat;
    }

    &.wordballoon-bmn {
      right: 0;
      width: 305px;
      height: 197px;
      background: url('../imgs/bmn.gif') left top no-repeat;
    }
  }

  p {
    margin: 0;
    z-index: 20;
    position: absolute;
    top: 0;
    text-align: center;
    font-family: 'unmasked';
    font-size: 150%;
    color: rgba(25,25,25,.9);
    box-sizing: border-box;
    padding: 0 10px;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;

      strong {
        font-family: 'unmasked-bold';
        font-weight: normal;
      }
      em {
        font-family: 'unmasked-ital';
        font-style: normal;
      }
    }

    width: 50%;
    max-width: 50%;
    height: 125px;
    line-height: 125px;

    &.rbn {
      left: 0;
    }

    &.bmn {
      top: 0;
      right: 0;
    }
  }
}

.batslap-sm {
  width: 300px;
  height: 290px;
  background-size: 300px 290px;
  p {
    font-size: 80%;
    height: 62px;
    line-height: 62px;
  }

  span.wordballoon {
    &.wordballoon-rbn {
      left: 2px;
      width: 158px;
      height: 118px;
      background-size: 158px 118px;
    }
    
    &.wordballoon-bmn {
      right: 0;
      width: 152px;
      height: 98px;
      background-size: 152px 98px;
    }
  }
}